# Chapter 6 Concatenation and Merging

## Concatenation

Often the data we need exists in two or more separate sources, fortunately, Pandas makes it easy to combine these together. The simplest combination is if all the sources are already in the same format, then a concatenation through the **Pandas.concat()** call is all that is needed.

Ex: pd.concat([df1, df2, ..., dfN])

## Concatenation of Series

### Concatenation of Series by rows (One below another) - Default

In [ ]:
import pandas as pd

# Create series s1
s1 = pd.Series(['1', '2', '3'])

# Create series s2
s2 = pd.Series(['4', '5', '6'])

In [ ]:
# Print series s1
s1

In [ ]:
# Print series s2
s2

In [ ]:
# Concat both the series by rows (s2 after s1)
pd.concat([s1, s2], keys=["s1","s2"])

# Returns a new series with records of s2 after records of s1
# The indexes are preserved for both the series s1 (0, 1, 2) and s2 (0, 1, 2)
# Can create group labels using keys

In [ ]:
# Concat both the series by rows (s2 after s1)
pd.concat([s1, s2], ignore_index=True)

# Returns a new series with records of s2 after records of s1
# The indexes are preserved for the series s1 (0, 1, 2) and new indexes created for s2 (3, 4, 5)
# Since indexes are ignored, we cannot create group labels

In [ ]:
# Concat both the series by rows (s1 after s2)
pd.concat([s2, s1], keys=["s2","s1"])

# Returns a new series with records of s1 after records of s2
# The indexes are preserved for both the series s2 (0, 1, 2) and s1 (0, 1, 2)
# Can create group labels using keys

In [ ]:
# Concat both the series by rows (s1 after s2)
pd.concat([s2, s1], ignore_index=True)

# Returns a new series with records of s1 after records of s2
# The indexes are preserved for the series s2 (0, 1, 2) and new indexes created for s1 (3, 4, 5)
# Since indexes are ignored, we cannot create group labels

### Concatenation of Series by columns/indexes (One adjacent to another)

In [ ]:
# Create series c1
c1 = pd.Series(['red', 'orange', 'yellow'])

# Create series c2
c2 = pd.Series(['green', 'blue', 'purple'])

In [ ]:
# Print series c1
c1

In [ ]:
# Print series c2
c2

In [ ]:
# Concat both the series by columns
pd.concat([c1,c2], axis=1)
 
# Returns a dataframe with records of c1 then c2, adjacent to each other

In [ ]:
# Concat both the series by columns
pd.concat([c2,c1], axis=1)

# Returns a dataframe with records of c2 then c1, adjacent to each other

### Outer vs. Inner Concatenation of Series

In [ ]:
# Create series with different indexes to understand the working of Concatenation by columns in detail
animals = pd.Series(
    data=["badger", "cougar", "anaconda", "elk", "pika"],
    index=["b", "c", "a", "e", "p"] 
)

fruits = pd.Series(
    data=["apple", "banana", "cherry", "durian"],
    index=["a", "b", "c", "d"]
)

In [ ]:
# Print animals series
animals

In [ ]:
# Print fruits series
fruits

In [ ]:
# Concat both the series by columns - Outer Concatenation (default)
pd.concat([animals,fruits], axis=1, keys=["animals", "fruits"])

# Returns a dataframe with records of animals then fruits, adjacent to each other
# Concatenated by index, and the indexes of animals (first dataframe) are preserved
# If any record with corresponding index is missing, it is replaced by NaN
# We can set the column names using keys

In [ ]:
# Concat both the series by columns - Inner Concatenation
pd.concat([animals,fruits], axis=1, keys=["animals", "fruits"], join="inner")

# Returns a dataframe with records of animals then fruits, adjacent to each other
# Concatenated by index, and the indexes of animals (first dataframe) are preserved
# If any record with corresponding index is missing, it is omitted
# We can set the column names using keys

In [ ]:
# Concat both the series by columns - Outer Concatenation (default)
pd.concat([fruits,animals], axis=1, keys=["fruits","animals"])

# Returns a dataframe with records of fruits then animals, adjacent to each other
# Concatenated by index, and the indexes of fruits (first dataframe) are preserved
# If any record with corresponding index is missing, it is replaced by NaN
# We can set the column names using keys

In [ ]:
# Concat both the series by columns - Inner Concatenation
pd.concat([fruits,animals], axis=1, keys=["fruits","animals"], join="inner")

# Returns a dataframe with records of fruits then animals, adjacent to each other
# Concatenated by index, and the indexes of fruits (first dataframe) are preserved
# If any record with corresponding index is missing, it is omitted
# We can set the column names using keys

## Concatenation of Dataframes

### Concatenation of Dataframes by rows (One below another) - Default

In [ ]:
# Create a dataframe harvest_21
harvest_21 = pd.DataFrame([['potatoes', 900], ['garlic', 1350], ['onions', 875]], columns=['crop', 'qty'])

# Print dataframe
harvest_21

In [ ]:
# Create a dataframe harvest_22
harvest_22 = pd.DataFrame([['garlic', 1600], ['spinach', 560], ['turnips', 999], ['onions', 1000]], columns=['crop', 'qty'])

# Print dataframe
harvest_22

In [ ]:
# Concat both the dataframes, providing keys to group
pd.concat([harvest_21, harvest_22], keys=["2021", "2022"])

In [ ]:
# Concat both the dataframes, ignoring index
pd.concat([harvest_21, harvest_22], ignore_index=True)

### Concatenation of Dataframes by columns/indexes  (One adjacent to another)

In [ ]:
# Create a dataframe livestock
livestock = pd.DataFrame(
    [["pasture", 9], ["stable", 3], ["coop", 34]], 
    columns=["location", "qty"], 
    index=["alpaca", "horse", "chicken"]
)

# Print the dataframe
livestock

In [ ]:
# Create a dataframe weights
weights = pd.DataFrame(
    [[4, 10], [900, 2000], [1.2, 4], [110, 150]], 
    columns=["min_weight", "max_weight"], 
    index=["chicken", "horse", "duck", "alpaca"]
)

# Print the dataframe
weights

In [ ]:
# Concat both the dataframes by columns, providing keys to group - Outer Concatenation (default)
pd.concat([livestock, weights], axis=1, keys=["Source1", "Source2"])

In [ ]:
# Concat both the dataframes by columns - Inner Concatenation
pd.concat([livestock, weights], axis=1, keys=["Source1", "Source2"], join="inner")

## Merging

1) Often, DataFrames are not in the exact same order or format, which means we cannot simply concatenate them together. 

In such cases, we need to use the **DataFrame.merge()** method to merge the DataFrames based on a common column. 

This operation is analogous to a JOIN command in SQL, where the column passed for merging must be unique and non-null.

2) The 'on' parameter in the DataFrame.merge() method specifies the column or index level names to join on. 

It allows you to explicitly define the column(s) that should serve as the key(s) for the merge operation. 
    
When using the 'on' parameter, both DataFrames should have a column with the same name, and the values in that column are used to align the rows for merging. 

3) The **DataFrame.merge()** method also accepts a key argument, labeled **how**, to specify the type of join to be performed. 

There are 3 main ways to merge tables together using the **how** parameter:

    1) Inner
    2) Outer and
    3) Left or Right

![Joins](https://res.cloudinary.com/dtwgxcqkr/image/upload/v1710408825/Data%20Wrangling/joins.jpg)

In [ ]:
# Create a dataframe teams
teams = pd.DataFrame(
    [
        ["Suns", "Phoenix", 20, 4],
        ["Mavericks", "Dallas", 11, 12],
        ["Rockets", "Houston", 7, 16],
        ["Nuggets", "Denver", 11, 12]
    ],
    columns=["team", "city", "wins", "losses"]
)

# Print the dataframe
teams

In [ ]:
# Create a dataframe cities
cities = pd.DataFrame(
    [
        ["Houston", "Texas", 2310000],
        ["Phoenix", "Arizona", 1630000],
        ["San Diego", "California", 1410000],
        ["Dallas", "Texas", 1310000],
    ],
    columns=["city", "state", "population"]
)

# Print the dataframe
cities

### Inner Join - Default

Merges the datasets by including only the rows with matching keys in both datasets, resulting in a dataset containing only the intersection of the two datasets.

In [ ]:
# Merge the dataframes on the column city - Inner Join (default)
teams.merge(cities, on="city", how="inner")

# Prints records available in both the dataframes

### Outer Join

Combines the datasets by including all rows from both datasets, filling in missing values with NaN where data is unavailable in atleast one of the datasets.

In [ ]:
# Merge the dataframes on the column city using Outer Join
teams.merge(cities, on="city", how="outer")

# Prints all the records regardless of whether it being available in both the dataframes or not

### Left Join

Merges the datasets by including all rows from the left dataset and matching rows from the right dataset, filling in missing values with NaN where data is unavailable in the right dataset.

In [ ]:
# Merge the dataframes on the column city using Left Join
teams.merge(cities, on="city", how="left")

# Prints all the records of teams dataframe regardless of whether it being available in the cities dataframe or not

### Right Join

Merges the datasets by including all rows from the right dataset and matching rows from the left dataset, filling in missing values with NaN where data is unavailable in the left dataset.

In [ ]:
# Merge the dataframes on the column city using Right Join
teams.merge(cities, on="city", how="right")

# Prints all the records of cities dataframe regardless of whether it being available in the teams dataframe or not